:root {
    --basewhite: rgba(255, 255, 255, 1);
    --accentblue-700: rgba(3, 105, 130, 1);
    --gray-800: rgba(24, 34, 48, 1);
    --gray-600: rgba(71, 84, 103, 1);
    --gray-900: rgba(16, 24, 40, 1);
    --gray-500: rgba(115, 115, 115, 1);
    --baseblack: rgba(0, 0, 0, 1);
    --secondaryblue-800: rgba(2, 81, 101, 1);
    --accentyellow-500: rgba(245, 202, 71, 1);
    --gray-200: rgba(234, 236, 240, 1);
    --orangeorange-600: rgba(214, 203, 194, 1);
    --gray-iron-800: rgba(38, 39, 43, 1);
    --neutralbrown-50: rgba(254, 253, 252, 1);
    --secondaryblue-900: rgba(2, 62, 77, 1);
    --neutralbrown-300: rgba(246, 240, 234, 1);
    --gray-700: rgba(52, 64, 84, 1);
    --gray-300: rgba(208, 213, 221, 1);
    --brand-700: rgba(105, 65, 198, 1);
    --gray-50: rgba(249, 250, 251, 1);
    --error-600: rgba(217, 45, 32, 1);
    --display-xl-semibold-font-family: "Asap", Helvetica;
    --display-xl-semibold-font-weight: 600;
    --display-xl-semibold-font-size: 60px;
    --display-xl-semibold-letter-spacing: -0.6px;
    --display-xl-semibold-line-height: 72px;
    --display-xl-semibold-font-style: normal;
    --text-xl-regular-font-family: "Inter", Helvetica;
    --text-xl-regular-font-weight: 400;
    --text-xl-regular-font-size: 20px;
    --text-xl-regular-letter-spacing: 0px;
    --text-xl-regular-line-height: 30px;
    --text-xl-regular-font-style: normal;
    --text-md-medium-font-family: "Inter", Helvetica;
    --text-md-medium-font-weight: 500;
    --text-md-medium-font-size: 16px;
    --text-md-medium-letter-spacing: 0px;
    --text-md-medium-line-height: 24px;
    --text-md-medium-font-style: normal;
    --display-lg-medium-font-family: "Asap", Helvetica;
    --display-lg-medium-font-weight: 500;
    --display-lg-medium-font-size: 48px;
    --display-lg-medium-letter-spacing: -0.96px;
    --display-lg-medium-line-height: 60px;
    --display-lg-medium-font-style: normal;
    --display-xs-semibold-font-family: "Asap", Helvetica;
    --display-xs-semibold-font-weight: 600;
    --display-xs-semibold-font-size: 24px;
    --display-xs-semibold-letter-spacing: 0px;
    --display-xs-semibold-line-height: 32px;
    --display-xs-semibold-font-style: normal;
    --text-lg-regular-font-family: "Inter", Helvetica;
    --text-lg-regular-font-weight: 400;
    --text-lg-regular-font-size: 18px;
    --text-lg-regular-letter-spacing: 0px;
    --text-lg-regular-line-height: 28px;
    --text-lg-regular-font-style: normal;
    --display-md-medium-font-family: "Asap", Helvetica;
    --display-md-medium-font-weight: 500;
    --display-md-medium-font-size: 36px;
    --display-md-medium-letter-spacing: -0.72px;
    --display-md-medium-line-height: 44px;
    --display-md-medium-font-style: normal;
    --text-md-semibold-font-family: "Inter", Helvetica;
    --text-md-semibold-font-weight: 600;
    --text-md-semibold-font-size: 16px;
    --text-md-semibold-letter-spacing: 0px;
    --text-md-semibold-line-height: 24px;
    --text-md-semibold-font-style: normal;
    --display-md-semibold-font-family: "Asap", Helvetica;
    --display-md-semibold-font-weight: 600;
    --display-md-semibold-font-size: 36px;
    --display-md-semibold-letter-spacing: -0.72px;
    --display-md-semibold-line-height: 44px;
    --display-md-semibold-font-style: normal;
    --text-lg-semibold-font-family: "Inter", Helvetica;
    --text-lg-semibold-font-weight: 600;
    --text-lg-semibold-font-size: 18px;
    --text-lg-semibold-letter-spacing: 0px;
    --text-lg-semibold-line-height: 28px;
    --text-lg-semibold-font-style: normal;
    --display-md-regular-font-family: "Asap", Helvetica;
    --display-md-regular-font-weight: 400;
    --display-md-regular-font-size: 36px;
    --display-md-regular-letter-spacing: -0.72px;
    --display-md-regular-line-height: 44px;
    --display-md-regular-font-style: normal;
    --text-md-regular-font-family: "Inter", Helvetica;
    --text-md-regular-font-weight: 400;
    --text-md-regular-font-size: 16px;
    --text-md-regular-letter-spacing: 0px;
    --text-md-regular-line-height: 24px;
    --text-md-regular-font-style: normal;
    --text-sm-semibold-font-family: "Inter", Helvetica;
    --text-sm-semibold-font-weight: 600;
    --text-sm-semibold-font-size: 14px;
    --text-sm-semibold-letter-spacing: 0px;
    --text-sm-semibold-line-height: 20px;
    --text-sm-semibold-font-style: normal;
    --text-sm-regular-font-family: "Inter", Helvetica;
    --text-sm-regular-font-weight: 400;
    --text-sm-regular-font-size: 14px;
    --text-sm-regular-letter-spacing: 0px;
    --text-sm-regular-line-height: 20px;
    --text-sm-regular-font-style: normal;
    --display-sm-semibold-font-family: "Asap", Helvetica;
    --display-sm-semibold-font-weight: 600;
    --display-sm-semibold-font-size: 30px;
    --display-sm-semibold-letter-spacing: 0px;
    --display-sm-semibold-line-height: 38px;
    --display-sm-semibold-font-style: normal;
    --display-lg-semibold-font-family: "Asap", Helvetica;
    --display-lg-semibold-font-weight: 600;
    --display-lg-semibold-font-size: 48px;
    --display-lg-semibold-letter-spacing: -0.96px;
    --display-lg-semibold-line-height: 60px;
    --display-lg-semibold-font-style: normal;
    --text-xs-medium-font-family: "Inter", Helvetica;
    --text-xs-medium-font-weight: 500;
    --text-xs-medium-font-size: 12px;
    --text-xs-medium-letter-spacing: 0px;
    --text-xs-medium-line-height: 18px;
    --text-xs-medium-font-style: normal;
    --shadows-shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    --shadows-shadow-lg: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}